.portrait {
    h2 {
        font-size: 30px;
        // 36px
        
    }

    .grid-photo {
        grid-template-rows: repeat(13, 370px);
        // также можно grid-auto-rows: 370px;
    
        
        .section3_2 {
            background-image: url(../../../img/section3/photo-2.jpg);
            grid-row: span 2;
        }
        
        
        .section3_5 {
            background-image: url(../../../img/section3/photo-5.jpg);
            grid-row: span 2;
        }
        
        .section3_6 {
            background-image: url(../../../img/section3/photo-6.jpg);
            grid-row: span 2;
        }
    
    }
}

