.still-life {
    h2 {
        font-size: 36px;
        // 36px
        margin-bottom: 80px; 
        // 80px
    }

    .grid-photo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 370px);
        // также можно grid-auto-rows: 370px;

        .grid-photo__item {

            .grid-photo__item-bottom {
                h3 {
                    font-size: 20px;
                    // 20px
                }
    
                span {
                    font-size: 20px;
                    // 20px
                }
            }

        }

    }
}

