.portrait {
    h2 {
        font-size: 36px;
        // 36px
        margin-bottom: 80px; 
        // 80px
        
    }

    .grid-photo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 370px);
        // также можно grid-auto-rows: 370px;

        .grid-photo__item {

            .grid-photo__item-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 2;
                h3 {
                    font-family: $roboto;
                    font-size: 15px;
                    // 20px
                    font-weight: 500;
                    color: $white;
                }
    
                span {
                    font-family: $roboto;
                    font-size: 15px;
                    // 20px
                    font-weight: 400;
                    color: $greyData;
                }
            }

        }
    
        
        .section3_2 {
            background-image: url(../img/section3/photo-2.jpg);
            grid-row: span 2;
        }
        
        
        .section3_5 {
            background-image: url(../img/section3/photo-5.jpg);
            grid-row: span 2;
        }
        
        .section3_6 {
            background-image: url(../img/section3/photo-6.jpg);
            grid-row: span 2;
        }

        .section3_8 {
            background-image: url(../img/section3/photo-8.jpg);
            grid-column: span 2;
        }

        .section3_9 {
            background-image: url(../img/section3/photo-9.jpg);
            grid-column: span 2;
        }
    
    }
}

