.still-life {
    h2 {
        font-size: 30px;
        // 36px
        margin-bottom: 80px; 
        // 80px
    }

    .grid-photo {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 370px);
        // также можно grid-auto-rows: 370px;

        .grid-photo__item {

            .grid-photo__item-bottom {
                h3 {
                    font-size: 12px;
                    // 20px
                }
    
                span {
                    font-size: 12px;
                    // 20px
                }
            }

        }

        

        .section2_2 {
            background-image: url(../img/section2/photo-2.jpg);
            grid-column: span 2;
        }
        
        .section2_3 {
            background-image: url(../img/section2/photo-3.jpg);
            grid-row: span 2;
            grid-column: span 2;
        }
        
        .section2_4 {
            background-image: url(../img/section2/photo-4.jpg);
            grid-row: span 2;
        }
        .section2_5 {
            background-image: url(../img/section2/photo-5.jpg);
            grid-column: span 2;
        }
    
    }
}

